@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    order: none;
    outline: none;
    font-family:'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    align-content: space-between;
    align-items: center;
    z-index: 100;
}

.Logo{
    font-size: 3rem;
    color: #b74bb7;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.Logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #b74bb7;
    border-bottom: 3px solid #b74bb7;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        right: 0;
        top: 0;
        width: 40%;
        border-left: 3px solid #b74bb7;
        border-bottom: 3px solid #b74bb7;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid  rgba(0,0,0,0.1);
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74bb7;
    }
}
section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin-top: 30px;
    background-color: rgb(0, 0, 0);
}

.home .home-content{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #b74bb7;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    object-fit: cover;
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #b74bb7;
    cursor: pointer;
    transition: 0.2s linear;
}
.home-img img:hover{
    font-size: 1.0rem;
    box-shadow: rgba(246, 0, 0, 0.56) 0px 22px 70px 4px;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #b74bb7;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #b74bb7;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #b74bb7;
    box-shadow: 0 0 25px #b74bb7;
}

.btn{
    display:inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74bb7;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74bb7;
    transition: 0.3 ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #b74bb7;
    color: black;
    box-shadow: 0 0 25px #b74bb7;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content:"Backend Developer";
}

.typing-text span::after{
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #b74bb7;

    }
}
    


@keyframes words{
    0%,
     20%{
        content: "Web Developer";
    }
    21%, 40%{
        content: "Developer";
    }
    41%, 60%{
        content: "Web desginer";
    }
    61%, 80%{
        content: "Scripterkid";
    }
    81%, 100%{
        content: "Ethical Hacking";
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:955px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vh;
        margin-top: 4rem;
    }
}
.mian{
    position: relative;
    
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about-me{
    position: absolute;
    color: #b74bb7;
    font-size: 20px;
    top: 30px;
    border: solid 1px #b74bb7;
    border-radius: 50px;
    padding: 10px;
}
.pic{
    width: 30%;
    height: 450px;
   
}
.pic img {
    width: 100%;
    height: 100%;
    object-fit:contain;
}
.box-text{
 width: 40%;
    height: 450px;
    margin-right: 20px;
    display: block;
}
.text1{
    width: 100%;
    height: 40%;
    
}
.text1 h1{
    padding-top: 55px;
    color: #b74bb7;
    font-size: 50px;
    margin-top: 80PX;
}
.text2{
    width: 100%;
    height: 60%;
   
}
.text2 p{
    color: aliceblue;
    font-size: 20px;
}
